### Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
z="Asif"
lis=[1,2,3,4]
f=1.02
tu=(1234)

### Q2. Given are some following variables containing data:
#### (i) var1 = ‘ ‘
     string
#### (ii) var2 = ‘[ DS , ML , Python]’ 
        list
#### (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
        list
#### (iv) var4 = 1.
          integer
#### What will be the data type of the above given variable.

###  Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [5]:
#(i) / : divide operator
div=5/2
print(div)
#(ii) % : modulas operator give remainder
mod=5%2
print(mod)
#(iii) // : floor division give division result to nearest integer
fd=5//2
print(fd)
#(iv) ** : exponenet operator
exp=5**2
print(exp)

2.5
1
2
25

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [8]:
lis=[1,"Hello",2.5,45,45+3j,[1,23],{11,2,3},(4,6,8),"bue","banana"]
for i in lis:
    print(i)

1
Hello
2.5
45
(45+3j)
[1, 23]
{11, 2, 3}
(4, 6, 8)
bue
banana

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [13]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0
while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print("Number A is divisible by number B.")
    print("It can be divided", count, "times.")
else:
    print("Number A is not divisible by number B.")

Enter number A: 100
Enter number B: 5
Number A is divisible by number B.
It can be divided 2 times.

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [14]:
# Create a list of 25 integers
numbers = [11, 22, 33, 44, 55, 66, 77, 88, 99, 110, 121, 132, 143, 154, 165, 176, 187, 198, 209, 220, 231, 242, 253, 264, 275]

# Loop through the elements of the list
for number in numbers:
    # Check if the number is divisible by 3
    if number % 3 == 0:
        print(f"{number} is divisible by 3")
    else:
        print(f"{number} is not divisible by 3")

11 is not divisible by 3
22 is not divisible by 3
33 is divisible by 3
44 is not divisible by 3
55 is not divisible by 3
66 is divisible by 3
77 is not divisible by 3
88 is not divisible by 3
99 is divisible by 3
110 is not divisible by 3
121 is not divisible by 3
132 is divisible by 3
143 is not divisible by 3
154 is not divisible by 3
165 is divisible by 3
176 is not divisible by 3
187 is not divisible by 3
198 is divisible by 3
209 is not divisible by 3
220 is not divisible by 3
231 is divisible by 3
242 is not divisible by 3
253 is not divisible by 3
264 is divisible by 3
275 is not divisible by 3

### Q7 What do you understand about mutable and immutable data types? Give examples for both showing this property.
#### Mutable: Data types which can be changed after being created eg list
#### Immutable: Data types which can't be changed after being created e.g string, tuble

In [15]:
#mutable
lis=[1,2,3,4]
lis[3]=5
print(lis)

[1, 2, 3, 5]

In [17]:
#immutable
tup=(1,2,3,4)
tup[3]=5 # this give error

TypeError: 'tuple' object does not support item assignment